.btn {
  display: inline-flex;
  padding: 10px 20px;
  color: $color-default-black;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--primary {
    @include text(16px, 16px, $ff-medium);

    color: $color-default-white;
    background-color: $color-accent;
    padding: 20px;
    width: 180px;
    display: block;
    text-align: center;
  }
}
