.btn {
  display: inline-flex;
  color: $color-default-black;
  border: none;
  cursor: pointer;
  transition: all $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--primary {
    @include text(16px, 16px, $ff-medium);

    color: $color-default-white;
    background-color: $color-accent;
    padding: 19px 19px;
    border: 1px solid $color-accent;
    width: 180px;
    display: block;
    text-align: center;

    &:hover,
    &:focus {
      color: $color-accent-dark;
      background-color: $color-transparent;
      border: 1px solid $color-accent-dark;
    }

    &:active {
      color: $color-default-white;
      background-color: $color-accent-dark;
      border-color: $color-accent-dark;
    }

    &:disabled {
      color: $color-default-white;
      background-color: $color-grey;
      border-color: $color-grey;
      pointer-events: none;
    }
  }
}

.btn--primary.is-disable {
  color: $color-default-white;
  background-color: $color-grey;
  border-color: $color-grey;
  pointer-events: none;
}
