.footer__contacts {
  padding: 88px 120px 95px;

  @include vp-1199 {
    padding: 58px 0 40px;
  }

  @include vp-767 {
    padding: 31px 0 40px;
  }
}

.footer__information {
  padding-top: 30px;
  padding-bottom: 32px;

  @include vp-1199 {
    padding-top: 36px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    padding-top: 22px;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @include vp-1199 {
    justify-content: space-between;
    margin-bottom: 34px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 23px;
  }
}

.footer__logo {
  display: block;
  color: $color-dark;
  padding: 10px 29px;
  margin-right: 114px;

  @include vp-1199 {
    padding: 0;
    margin-right: 0;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.footer__logo svg {
  display: block;
}

.footer__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  align-content: space-between;

  @include vp-1199 {
    gap: 20px;
  }

  @include vp-767 {
    padding: 0 12px;
    width: 100%;
    align-items: center;
    gap: 15px;
    max-height: 73px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.footer__menu-item {
  @include vp-767 {
    min-width: 120px;
  }
}

.footer__menu-item a {
  @include text(16px, 16px);

  color: $color-dark;
  padding-right: 1px;
  display: block;
  position: relative;
  transition: $trans-default;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba($color-dark, 0);
    position: absolute;
    bottom: -3px;
    left: 0;
  }

  @include vp-1199 {
    @include text(14px, 14px);

    padding-right: 5px;
  }

  @include vp-767 {
    min-width: 120px;
    text-align: center;
    padding-right: 0;
  }

  &:hover::before {
    background-color: $color-dark;
  }

  &:active::before {
    background-color: $color-transparent;
  }

  &:focus::before {
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background-color: $color-transparent;
    border: 1px solid $color-dark;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer__phone {
  @include text(18px, 18px, $ff-semibold);

  color: $color-dark;
  margin-left: auto;

  &:hover,
  &:focus {
    color: $color-accent-dark;
  }

  &:active {
    color: $color-accent;
  }

  @include vp-1199 {
    display: none;
  }
}

.header__phone.is-disabled {
  color: $color-accent;
  pointer-events: none;
}

.footer__socials {
  list-style-type: none;
  padding: 0;
  margin: 0 auto 23px;
  display: flex;
  gap: 15px;
  justify-content: center;

  @include vp-1199 {
    gap: 16px;
    margin-bottom: 34px;
  }

  @include vp-767 {
    gap: 16px;
    margin-bottom: 23px;
  }
}

.footer__socials-item a {
  width: 30px;
  height: 30px;
  border: 1px solid rgba($color-dark, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-1199 {
    width: 32px;
    height: 30px;
  }

  &:hover,
  &:focus {
    border-color: $color-dark;
  }

  &:active {
    border-color: $color-accent;
    background-color: $color-accent;
  }
}

.footer__socials-item svg {
  display: block;
  color: $color-dark;
}

.footer__socials-item a:active svg {
  color: $color-default-white;
}

.footer__socials-item a.is-disable {
  pointer-events: none;
  opacity: 0.3;
}

.footer__socials-item a.is-disable svg {
  opacity: 0.3;
}

.footer__confidence {
  @include text(12px, 12px, $ff-light);

  color: $color-dark;
  text-align: center;
  display: block;

  &:hover {
    opacity: 0.5;
  }

  &:focus,
  &:active {
    color: $color-default-black;
  }
}
