@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_cyrillic-ext_latin_latin-ext-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_cyrillic-ext_latin_latin-ext-800.woff2") format("woff2");
}
