@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_latin-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_latin-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_latin-600.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../../fonts/montserrat-v26-cyrillic_latin-800.woff2") format("woff2");
}
